@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #FF6309;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

html {
  font-family: "Urbanist", sans-serif;
}

/* Style Navigation Bar  */

#navBar {
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 70px;
  position: fixed;
  width: 100%;
}

#logo img {
  height: 50px;
}

#navBar .link {
  color: white;
  text-decoration: none;
  padding: 0 16px;
  font-size: 20px;
}

#search i {
  font-size: 20px;
}


/* Title section */

#titleHere {
  background-image: url("../images/background-1.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 0 90px;
}

#titleHere .container {
  position: absolute;
  width: 700px;
  top: 50%;
}

#titleHere #title {
  font-size: 5em;
  margin-bottom: 10px;
}

#titleHere #description {
  font-size: 1.5em;
}

#titleHere #registerButton {
  background-color: var(--primary-color);
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  width:280px;
  height: 50px;
  border-radius: 3px;
  margin-top: 30px;
  cursor: pointer;
}